<div class="sideMenu">
    <nav>
        <h1 class="logo my-8 ms-8">ANSWER</h1>
        <ul class="menu list-unstyled">
            <li class="menuItems">
                <a href="#" class="menuLink d-flex align-items-center">
                    <span class="material-symbols-outlined  mr-4">
                    insert_chart
                    </span>
                    Dashboard
                </a>
            </li>
            <li class="menuItems">
                <a href="#" class="menuLink d-flex align-items-center">
                    <span class="material-symbols-outlined mr-4">
                    forum
                    </span>
                    Question
                </a>
            </li>
            <li class="menuItems">
                <a href="#" class="menuLink d-flex align-items-center">
                    <span class="material-symbols-outlined mr-4">
                    assignment
                    </span>
                    Assignment
                </a>
            </li>
            <li class="menuItems">
                <a href="#" class="menuLink d-flex align-items-center">
                    <span class="material-symbols-outlined mr-4">
                    video_library
                    </span>
                    Course
                </a>
            </li>
            <li class="menuItems">
                <a href="#" class="menuLink d-flex align-items-center">
                    <span class="material-symbols-outlined mr-4">
                    group
                    </span>
                    Admin
                </a>
            </li>
            <li class="menuItems">
                <a href="#" class="menuLink d-flex align-items-center">
                    <span class="material-symbols-outlined mr-4">
                    settings
                    </span>
                    Settings
                </a>
            </li>
        </ul>
    </nav>
    <div class="userInformation d-flex">
        <div class="sideMenuUser mr-4">
            <a href="#"><img src="/assets/images/andychen.jpeg" alt="people" class="userImg-side"></a>
        </div>
        <div class="informationContent">
            <h6>Andy Chen</h6>
            <p>andy0401@mail.com</p>
        </div>
    </div>
</div>